page-perfil {
    ion-card img {
        // display: block ;
        // border-radius: 50%;
        // width: 42vw !important;
        // margin: 15vw 26vw 0px 26vw !important;
        // padding: 10px !important;

        display: block;
        // border-radius: 50%;
        // width: 42vw !important;
        // margin: 14vw 26vw 3px 26vw !important;
        padding: 2px !important;
        border: 7px solid color($colors, primary);

    }

    ion-item spam {
    color: #8a8585;
    }

    .avatar-img2 {
    border-radius: 50%;
    margin: 18vw 25vw 2vw;
    width: 48%;
    }


    .label-md {
        margin: 1px 8px 1px 0 !important;
    }

    ion-icon {
        color: color($colors, primary);
    }

}
