<ion-header>
    <ion-navbar>
      <ion-title>TAREAS</ion-title>
    </ion-navbar>
</ion-header>
<ion-content >  
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <!-- Contendor 100% -->
  <div class="cls-list-img" *ngFor="let studie of list_studies" (click)="take_taks(studie)">
    <!-- contenedor imagen 30% -->
    <div class="cls-img">
      <img [src]="studie.img" alt="{{studie.name}}">
    </div>
    <!-- contendor la descripcion 60 %-->
    <div class="cls-desc">
        <ion-title>
          {{studie.name | letter:20}}
        </ion-title>
        <b>Pago:</b> <span class="cls-alert-red">$ {{studie.price_by_task | number}} COP </span> <br>
        <p class="cls-history">
          {{studie.history | letter:80 }}
        </p>
    </div>
    <!-- contendor para  ver imagen 10% -->
    <div class="cls-view">
      <a clear item-end >Ver</a>
    </div>
  </div>
  
  <!-- <button ion-button full (click)="showForm()">Ver más</button> -->
  
  <ion-list *ngIf="!list_studies_test.error">
    <p>Estudios para comunidad cerrada</p>
    <ion-item *ngFor="let studie of list_studies_test.data" (click)="take_taks(studie)" >
      <ion-avatar item-left style="margin: 4px 2px 4px 0;">
        <img [src]="studie.img"  />
      </ion-avatar>
        <ion-title>
          {{studie.name}}
        </ion-title>
        <b>Pago:</b> <span class="cls-alert-red">{{studie.price_by_task | number}} </span> <br>
        <p class="cls-history">
          {{studie.description}}
        </p>

        <button ion-button clear item-end >Ver</button>
    </ion-item>
  </ion-list>

    
  <ion-list *ngIf="!list_studies_prueba.error">
    <p>Estudios de prueba</p>
    <ion-item *ngFor="let studie of list_studies_prueba.data"  >
      <ion-avatar item-left style="margin: 4px 2px 4px 0;">
        <img [src]="studie.img" (click)="take_taks(studie)" />
      </ion-avatar>
        <ion-title>
          {{studie.name}}
        </ion-title>
        <b>Pago:</b> <span class="cls-alert-red">{{studie.price_by_task | number}} </span> <br>
        <p class="cls-history">
          {{studie.description}}
        </p>

        <button ion-button clear item-end (click)="take_taks(studie)">Ver</button>
    </ion-item>
  </ion-list>
  
</ion-content>
