page-home {
    
    .item-md {
        padding-left: 0px !important;
    }

    .ion-avatar[item-left] {
        margin: 0px !important;
    }

    .cls-desc .toolbar-title-md {
        padding: 0 0px;
        font-size: 1.3rem;
        font-weight: bold;
        color: #0e0d0d;
        text-transform: uppercase;
        

    }

    .map-ios{
        
        height:70vw; 
        width: 87vw;
        border:2px solid green;
    }


    .item-md ion-avatar img {
        border-radius: 0%;
        overflow: hidden;
        width: 77px !important;
        height: 77px;
    }

    .cls-list-img {
        width: 100%;
        height: 25vw;
        position: relative;
        border-bottom: 1px solid rgba(0, 0, 0, 0.23);
        margin: 7px 0px;
    }

    .cls-list-img .cls-img {
        width: 28vw;
        height: auto;
        float: left;
    }
    
    .cls-list-img .cls-img img {
        height: 22vw;
        width: 22vw;
        margin: 1vw 2vw;
    }

    .cls-list-img .cls-desc {
        width: 58vw;
        height: auto;
        float: left;
    }

    .cls-list-img .cls-view  {
        width: 9%;
        float: left;
        position: relative;
        margin-top: 8vw;
        margin-left: 2vw;
        font-weight: bold;
    }
    
    .cls-list-img .cls-view a {
        text-decoration: underline;
    }

    



    .cls-ajs {
        padding: 10px;
        margin: 0px 8vw;
        width: 90vw;
    }

    .show-spinner {
        min-width: 38px;
        position: fixed;
        background: white;
        top: 42%;
        left: 30%;
        border: 1px solid #0006;
        width: 159px;
        height: 123px;
    }


    .cls-showw-sppiner {
        width: 100%;
        height: 100vw;
        background: rgba(0, 0, 0, 0.38);
        z-index: 9;
        position: fixed;
        top: 0px;
    }



    #map_canva {
        height: 65%;
    }

    .card-md {
        width: 100% !important;
        margin: 0px;
    }

    h2, h3, h4, h5 {
        width: 100%;
    }

    ion-card img {
        display: block;
        width: 100%;
        overflow: hidden;
    }

    .content-hidden {
        height: auto;
        width: 100%;
    }

    hr {
        width: 100%;
        margin: 7px 0px 12px 0px;
        background: #0006;
    }

    .ion-content-card {
        padding: 15px 25px !important;
        margin: 0px 9px;
        box-shadow: 0px 2px 2px map-get($colors, primary);
        // box-shadow: 0px 2px 2px #000000b3;
    }

    [item-left] {
        margin: 4px 3px 3px 0 !important;
    }

      
   

    .cls-alert-red {
        color: map-get($colors, primary);
        font-size: 1rem;
    }

    



















    

}
