<!--
  Generated template for the ProgressInTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{name_studie}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    
    <div id="bar" class="cls-progress"  [ngStyle]="{'width': pg +'vw' }"></div>
    <!-- {{ (this.timee / 60 ) | number }} min -->
    <ion-slides pager *ngIf="showInstructive">
        <ion-slide *ngFor="let slide of loap_instructives">
          <ion-toolbar>
            <ion-buttons end >
              <button ion-button color="primary" (click)="gtFunction()">Saltar</button>
            </ion-buttons>
          </ion-toolbar>
          <img [src]="slide.img" class="slide-image"/>
          <h2 class="slide-title" [innerHTML]="slide.title"></h2>
          <p [innerHTML]="slide.description"></p>
        </ion-slide>


        <ion-slide>
          <ion-toolbar>
          </ion-toolbar>
          <img src="assets/imgs/like.png" class="slide-image"/>
          <h2 class="slide-title">¿Estas listo para empezar?</h2>
          <button ion-button large clear icon-end color="primary" (click)="gtFunction()">
              Continuar
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-slide>
    </ion-slides>

    <button class="btn-look" ion-button full (click)="showInstructive = true">VER INSTRUCTIVO</button>
    
    <p *ngIf="value_heigth == 70">
      Los puntos rojos ya han sido tomados
    </p>
    <!--  style="width: 90vw" -->
    <div #map id="map" >
      <ion-fab top right><button color="light" ion-fab (click)="getMyLocation()"><ion-icon ios="ios-locate-outline" md="md-locate"></ion-icon></button></ion-fab>
    </div>

    <div *ngIf="value_heigth == 70">
    </div>

    <div #idform id="formio"></div>

  <!-- <button ion-button (click)="conoce()" >Hola como vas</button> -->
</ion-content>

<style>
  .cls-progress {
    background: rgb(229, 53, 91) none repeat scroll 0% 0%;
    height: 4px;
    position: fixed;
    margin: -15px -16px;
  }
/* 
  #map {
      height: 60vw;
  }
   */
</style>