<ion-header>
  <ion-navbar>
    <ion-title>{{name_studie}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>


    <div class="cls-tt-s">
      <button class="btn-look cls-i" ion-button full (click)="showModalInstructions()">VER INSTRUCTIVO</button>
    </div>
    <!-- <button class="btn-look cls-i" ion-button full (click)="showInstructive = true">VER INSTRUCTIVO</button> -->
    
    <p *ngIf="value_heigth == 70">
      Los puntos rojos ya han sido tomados
    </p>
    <!--  style="width: 90vw" -->
    <div #map id="map" >
      <ion-fab id="topmap" *ngIf="showGeo" top right><button color="light" ion-fab (click)="getMyLocation()"><ion-icon ios="ios-locate-outline" md="md-locate"></ion-icon></button></ion-fab>
    </div>


    <div #idform id="formio"></div>
























  <div *ngIf="formulario.length > 0">
    <div *ngFor="let data of formulario; let i = index ">
      <!-- 
        MOC PARA LOS CASOS CUANDO SON SOLECTS
       -->
      <div class="cls-content" *ngIf="data.type == 'select'" [ngClass]="{'cls-alfa-romeo': data.error}" >
        <label> <i></i> {{data.label}}</label>

          <ion-select name="infoSelecct" id="" [(ngModel)]="data.response" required="true" class="form-control" disabled="{{data.gs}}">
            <ion-option *ngFor="let item of data.data" value="{{item.value}}"
              (ionSelect)="comproveOption(item, data.type, data.label, data)" disabled="{{!item.state}}" >
                {{item.label}}
            </ion-option>
          </ion-select>


          <div *ngIf="data.gs" class="cls-option-select">
            <span> {{data.vs}} </span>
            <button class="cls-btn-delete" (click)="deleteOption(data.selected,  data.type, data.label, data)">Eliminar</button>
          </div>


        <div *ngIf="data.error" class="col-90">
          <span class="cls-error">
            Este campo es obligatorio
          </span> 
        </div>
      </div>

      <!-- 
        MOC CUANDO ES CASO ES UN RADIO BUTTON
      -->
      <div class="cls-content" *ngIf="data.type == 'radio'" [ngClass]="{'cls-alfa-romeo': data.error}" >
        <label for=""> <i></i>  {{data.label}}</label>

        <div *ngFor="let item of data.data; let e = index">

            <label for="{{e + '_' + i}}" class="container">{{item.label}}
                <input id="{{e + '_' + i}}" name="{{i}}" type="radio" value="{{item.value}}" [(ngModel)]="data.response">
                <span class="checkmark"></span>
            </label>

        </div>


        <div *ngIf="data.error" class="col-90">
          <span class="cls-error" >
            Este campo es obligatorio
          </span>
        </div>
      </div>
      
      
      <!-- 
          MOC CUANDO ES EL CASO DE BOXES O CHECKBOXES
       -->
      <div class="cls-content" *ngIf="data.type == 'boxes'" [ngClass]="{'cls-alfa-romeo': data.error}">
        <label for=""> <i></i>   {{data.label}} </label>
        <div *ngFor="let item of data.data; let e = index">
          <!-- <input type="checkbox" id="{{e + '_' + i}}" name="{{data[i]}}" [(ngModel)]="item.response">
          <label for="{{e + '_' + i}}" >{{item.label}}</label> -->

          <label for="{{e + '_' + i}}" class="container">{{item.label}}
              <input type="checkbox" id="{{e + '_' + i}}" name="{{data[i]}}" [(ngModel)]="item.response">
              <span class="checkmark"></span>
          </label>

          
        </div>

        <div *ngIf="data.error" class="col-90">
          <span class="cls-error" >
            Este campo es obligatorio
          </span> 
        </div>
      </div>


      <!-- 
        MOC CUANDO ESL TIPO DE DATO ES UN IMPUT
       -->
      <div class="cls-content" *ngIf="data.type == 'input'" [ngClass]="{'cls-alfa-romeo': data.error}">
        <label for=""><i></i> {{data.label}}</label>
        <input type="text" [(ngModel)]="data.response" required="true" class="form-control" >
        <div *ngIf="data.error" class="col-90">
          <span class="cls-error" >
            Este campo es obligatorio
          </span> 
        </div>
      </div>


      <!-- 
        MOC CUANDO EL TIMPO DE CONTENIDO ES TITULOS
       -->
      <div class="cls-content" *ngIf="data.type == 'title'" [ngClass]="{'cls-alfa-romeo': data.error}">
        <p [innerHTML]="data.label" ></p>
      </div>


      <!-- 
        MOC CUANDO EL TIPO DE CONTENIDO SOLICITA UNA PHOTO 
       -->
      <div class="cls-content" *ngIf="data.type == 'photo'" [ngClass]="{'cls-alfa-romeo': data.error}">

        
        <label for=""> <i></i>  {{data.label}}</label> <br>
        
        <div text-center>
          <button class="cls-button-photo" (click)="take_photo(data)">Tomar foto</button>
        </div>


        <div class="img-form">
          <ion-icon name="trash" (click)="data.src = ''" ></ion-icon>
          <img src="{{data.src}}" alt="" class="">
        </div>

        <div *ngIf="data.error" class="col-90">
          <span class="cls-error" >
            Este campo es obligatorio
          </span> 
        </div>
      </div>

       <!-- 
        MOC CUANDO EL TIPO DE CONTENIDO SOLICITA UNA SECTION
       -->

       <div class="cls-content" *ngIf="data.type == 'section'" [ngClass]="{'cls-alfa-romeo': data.error}" >
          <div *ngFor="let item of data.types">
            <div class="cls-accordion-seccion">
              <h3> {{item.label}}  </h3>
            </div>

            <div *ngFor="let prod of item.data">
              <h4>{{prod.label}}</h4>

              <ion-grid>
                <ion-row>
                  <ion-col>
                    <button ion-button full color="secondary" (click)="prod.resp = 'yes'" >  {{prod.y.label}} </button>
                  </ion-col>
                  <ion-col>
                    <button ion-button full color="danger" (click)="prod.resp = 'yes'" >  {{prod.n.label}} </button>
                  </ion-col>
                </ion-row>
              </ion-grid>


              
              <div *ngIf="prod.resp == 'yes'" class="cls-content-condition">
                <div *ngFor="let tt of prod.y.data">
                    <div class="cls-content" *ngIf="tt.type == 'input'">
                      <label for=""><i></i> {{tt.label}}</label>
                      <input type="number" [(ngModel)]="tt.value" required="true" class="form-control" >
                    </div>

                    <div class="cls-content" *ngIf="tt.type == 'select'">
                        <label> <i></i> {{tt.label}}</label>
                        <ion-select name="infoSelecct" id="" [(ngModel)]="tt.response"  class="form-control">
                          <ion-option *ngFor="let item of tt.data" value="{{item.value}}">
                              {{item.label}}
                          </ion-option>
                        </ion-select>
                    </div>
                </div>
              </div>

            </div>
          </div>
       </div>


    </div>
    <div style="width: 100%; float: left; position: relative;">
        <div class="cls-5">
          <button class="cls-btn-state" send-f full (click)="sendForm()">Enviar tarea</button>
        </div>          
        
        <div class="cls-5">
          <button class="cls-btn-state" cancel-f full (click)="cancelTask()">Cancelar tarea</button>
        </div>
    </div>
        
  </div>

  <!-- <button ion-button (click)="conoce()" >Hola como vas</button> -->
</ion-content>
