// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #5d4b4b !important;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}



// .text-input-md, .cls-button, [input] {
//     // border: 1px solid #0006 !important;
//     border: 1px solid lightgray;
//     border-radius: 23px !important;
//     margin: 13px 8px;
//     padding: 7px;
//     width: 90%;
//  }



.toolbar-title-md {
    padding: 0 0px;
    font-size: 2rem;
    font-weight: 500;
    color: #0e0d0d;
}


.btn-look {
    border-radius: 23px;
}


.avatar-img {
    border-radius: 50%;
    margin: 16vw 16vw 3vw;
    width: 65%;
}



.text-input-md, .cls-button, [input] {
    border: 1px solid lightgray;
    border-radius: 23px !important;
    margin: 6px 8px;
    padding: 9px 12px;
    width: 90%;
}


.item-md.item-block .item-inner {
    padding-right: 0px !important;
    border-bottom: 0px solid white !important;
}


ion-select, .ion-select-md {
    // border: 1px solid #0006 !important;
    border: 1px solid lightgray;
    border-radius: 23px !important;
    margin: 13px 8px;
    padding: 7px;
    max-width: 100% !important;
    width: 94%;
 }


 .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {

    border-bottom-color:white !important !important;
    -webkit-box-shadow: inset 0 -1px 0 0 blue !important;
    box-shadow: 0px 0px 0px black !important;

}

