// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: url('') !important;
}

.back-button.show-back-button {
    display: inline-block;
    position: fixed;
    border-radius: 38px;
    z-index: 999999999;
}


.tabs-md .tab-button[aria-selected=true] {
    // color: rgba(60, 60, 60, 0.7);
    padding: 0;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-text {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: -webkit-transform 0s ease-in-out !important;
    transition: -webkit-transform 0s ease-in-out !important;
    transition: transform 0s ease-in-out !important;
    transition: transform 0s ease-in-out, -webkit-transform 0s ease-in-out !important;
}


.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    // color: rgba(60, 60, 60, 0.7);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.select-icon {
    position: relative;
    width: 25px;
    height: 23px;
    float: right;
}
  
textarea.text-input {
    display: block;
    height: 31vw;
}

.swiper-pagination-bullet-active {
    background: #F47721 !important;
    opacity: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    left: 0;
    bottom: 60px !important;
    width: 100%;
}



.tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text {
    margin-top: 1px !important;
    margin-bottom: 0;
    font-size: 2.8vw !important;
}


.button-md {
    box-shadow: 0 0px 0px 0 transparent !important;
    -webkit-box-shadow: 0 0px 0px 0 transparent !important;
}


.cls-history {
    color: gray; 
    font-size: 10px
}



.alert-wrapper {
    border-radius: 13px !important;
}

.alert-wrapper {
    border-radius: 2px;
    max-width: 97% !important;
    background-color: #fafafa;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
}

.alert-button-group {
    justify-content: space-evenly !important;
}


.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #5d4b4b !important;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


ion-header .toolbar-title-md {
    text-align: center;
}

.btn-birthday {
    border: 1px solid lightgray;
    border-radius: 28px;
    width: 85vw;
    margin-left: 2vw;
    padding-left: 19px;
    margin-bottom: 6px;
}

.toolbar-title-md {
    padding: 0 0px;
    font-size: 2rem;
    font-weight: 500;
    color: #0e0d0d;
}


.btn-look {
    border-radius: 23px;
    height: 13vw;
}

.btn-width-look {
    width: 37vw;
}

.item-md {
    padding-left: 0px !important;
 }

.cls-width {
    width: 94%;
    margin-left: 3%;    
}


.avatar-img {
    border-radius: 50%;
    margin: 16vw 16vw 3vw;
    width: 65%;
}

.avatar-img3 {
    border-radius: 50%;
    margin: 7vw 32.5vw 2vw;
    width: 35%;
    border: 3px solid #faecef;
}



.text-input-md, .cls-button, [input] {
    border: 1px solid lightgray;
    border-radius: 23px !important;
    margin: 6px 8px;
    padding: 9px 12px;
    width: 94%;
}

.segment-md .segment-button {
    color: #000 !important;
}

.item-md.item-block .item-inner {
    padding-right: 0px !important;
    border-bottom: 0px solid white !important;
}


.select-md {
    padding: 10px 8px 13px 16px;
}

ion-select, .ion-select-md {
    // border: 1px solid #0006 !important;
    border: 1px solid lightgray;
    border-radius: 23px !important;
    margin: 5px 8px;
    padding: 7px;
    max-width: 100% !important;
    width: 94%;
 }


 .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {

    border-bottom-color:white !important !important;
    -webkit-box-shadow: inset 0 -1px 0 0 blue !important;
    box-shadow: 0px 0px 0px black !important;

}

.item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left] {
    margin: 8px 5px 8px 2px !important;
}

