page-my-tasks {
    .item-md {
        border-bottom: 1px solid #0003;
    }

    .item-md ion-avatar ion-img, .item-md ion-avatar img {
        border-radius: 1% !important;
        overflow: hidden;
        width: 40px;
        height: 40px;
    }
}
