page-instructive {
    ion-slides {
        ion-item {
            width: 90% !important;
            margin: 0px 4%;
        }
    }


    .list-md {
    margin: 11vw 0 16px;
    }

    .cls-p {
    margin: 15vw 0 0px;
    }

    .item-md {
    padding-left: 2px !important;
    }

    .cls-margin {
    margin: 3vw 0 16px;
    }


    .grid {
    margin-left: 17px !important;
    }

    .cls-next {
    left: 25vw;
    }
    .ion_title {
    text-align: center;
    padding: 3px;
    margin: 10px 0px;
    background: white;
    }

    .cls-head-steps {
    text-align: center;
    margin-top: 10vw;
    }

      

}
