<!--
  Generated template for the InstructivePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>Información necesaria</ion-title>
  </ion-navbar>
</ion-header> -->


<ion-content padding>

    <!-- STEP ONE  -->
    <div *ngIf="step_one">
        <div padding text-center>
          <img src="assets/imgs/logo.png" alt="logo de lookapp"> <br>
          <p class="cls-p" *ngIf="this.useremail">
            Hemos realizado grandes cambios para ti, a tu correo hemos enviado un código de verificación para realizar el cambio de contraseña, 
            hacer tareas y ganar dinero con LookApap es muy fácil! <br>
            A continuación puedes hacer tu primera tarea ingresando los siguientes datos.
          </p>

          <p class="cls-p" *ngIf="this.userfacebook || this.forms">
            Hemos realizado grandes cambios para ti, hacer tareas y ganar dinero con LookApap es muy fácil! <br>
            A continuación puedes hacer tu primera tarea respondiendo estas sencillas preguntas.
          </p>
        </div>
        <ion-list>
          <!-- MOC NOMBRE -->
          <ion-item>
            <ion-input placeholder="Nombre" type="text" [(ngModel)]="register.name" ></ion-input>
          </ion-item>
          <!-- MOC APELLIDO -->
          <ion-item>
            <ion-input placeholder="Apellido" type="text" [(ngModel)]="register.lname" ></ion-input>
          </ion-item>


          <!-- MOC PARA CORREO -->
          <div padding *ngIf="this.useremail">
            <p text-left>Ingresa el código de verificación que hemos enviado a tu correo.</p>
          </div> 
          <ion-item *ngIf="this.useremail">
            <ion-input type="text" [(ngModel)]="register.code" placeholder="Código de verificación"></ion-input>
          </ion-item>
          
          <ion-item *ngIf="this.userfacebook || this.useremail">
            <ion-input placeholder="Correo  electronico" type="text" [(ngModel)]="register.email"></ion-input>
          </ion-item>
          <ion-item *ngIf="this.userfacebook || this.useremail">
            <ion-input placeholder="Contraseña" type="password" [(ngModel)]="register.pass"></ion-input>
          </ion-item>
          <ion-item *ngIf="this.userfacebook || this.useremail">
            <ion-input placeholder="Repita la contraseña" type="password" [(ngModel)]="register.repass" ></ion-input>
          </ion-item>
          
          <ion-grid>
            <ion-row>
              <!-- CUANDO ES UN REGISTRO -->
              <ion-col class="cls-next" *ngIf="this.forms">
                <button class="btn-look btn-width-look" ion-button full (click)="valid_first_step_email()"  >Siguiente</button>
              </ion-col>
              <!-- CUANDO ES CORREO REGISTRADO -->
              <ion-col class="cls-next" *ngIf="this.useremail">
                <button class="btn-look btn-width-look" ion-button full (click)="valid_code();"  >Siguiente</button>
              </ion-col>
            </ion-row>
          </ion-grid>
            
            
          <!-- <button ion-button  (click)="step_one == true"  >Atras</button> -->
        </ion-list>
    </div>

    <!-- STEP TWO -->
    <div *ngIf="step_two">
      <div padding class="cls-head-steps" >
        <img src="assets/imgs/logo.png" alt="logo de lookapp"> <br>
      </div>
      <ion-list>
        <!-- MOC FECHA DE NACIMIENTO -->
        <ion-item>
          <ion-datetime class="btn-birthday" displayFormat="MM/DD/YYYY" [(ngModel)]="register.birth_day" placeholder="Fecha de nacimiento"></ion-datetime>
        </ion-item>
        <!-- MOC SEXO -->
        <ion-item>
          <ion-select placeholder="Sexo" [(ngModel)]="register.sex" multiple="false" >
            <ion-option value="M" >Masculino</ion-option>
            <ion-option value="F" >Femenino</ion-option>
          </ion-select>
        </ion-item>
        <!-- MOC ESTRATO -->
        <ion-item>
          <ion-select placeholder="Estrato" [(ngModel)]="register.strate" multiple="false">
            <ion-option value="1">1</ion-option>
            <ion-option value="2">2</ion-option>
            <ion-option value="3">3</ion-option>
            <ion-option value="4">4</ion-option>
            <ion-option value="5">5</ion-option>
            <ion-option value="6">6</ion-option>
          </ion-select>
        </ion-item>
        <!-- MOC NIVEL DE ESTUDIO -->
        <ion-item>
          <ion-select placeholder="Nivel de estudio" [(ngModel)]="register.level_studie" multiple="false">
            <ion-option value="Primaria" >Primaria</ion-option>
            <ion-option value="Bachiller" >Bachiller</ion-option>
            <ion-option value="tyt" >Técnico/Tecnólogo</ion-option>
            <ion-option value="Profesional" >Profesional</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-grid>
            <ion-row>
                <ion-col width-50>
                  <button class="btn-look btn-width-look" ion-button full (click)="step_one = true; step_two = false">Atras</button>
                </ion-col>
                <ion-col width-50>
                  <button class="btn-look btn-width-look" ion-button full (click)="valid_second_step()"  >Siguiente</button>
                </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>

    </div>

    <div *ngIf="step_three">
      <div padding text-center>
        <img src="assets/imgs/logo.png" alt="logo de lookapp" > <br>
      </div>
      <ion-list class="cls-margin" >

        <!-- MOC TOMAR FOTOGRAFIA -->
        <img [src]="image"  class="avatar-img" *ngIf="image" (click)="getPicture()"/>
  
        <!-- MOC NUMERO DE CELULAR -->
        <ion-item>
          <ion-input type="number" [(ngModel)]="register.phone" placeholder="Número celular" ></ion-input>
        </ion-item>
        <!-- MOC CIUDAD EN LA QUE TE ENCUENTRAS -->
        <ion-item>
          <ion-input type="text" [(ngModel)]="register.city" placeholder="Ciudad"></ion-input>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col width-50>
            <button class="btn-look btn-width-look" ion-button full (click)="step_two = true; step_three = false">Atras</button>
          </ion-col>
          <ion-col width-50>
            <button class="btn-look btn-width-look" ion-button full (click)="fainally();">Finalizar</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="step_four">
        <div text-center>
            <div padding text-center>
              <h2>¡FELICIDADES!</h2>
              <img src="assets/imgs/logo.png" alt="logo de lookapp"> <br>
              <br><br><br><br><br>
              <p>Así de sencillo puedes ganar con Lookapp</p>
            </div>
        </div>


        <ion-grid>
          <ion-row>
            <ion-col class="cls-next" *ngIf="this.forms">
              <button  class="btn-look btn-width-look" ion-button full (click)="ok_session();"> Listo </button>
            </ion-col>

            <ion-col class="cls-next" *ngIf="this.useremail">
              <button  class="btn-look btn-width-look" ion-button full (click)="ok_email();"> Listo </button>
            </ion-col>

  
          </ion-row>
        </ion-grid>


    </div>
    
    
  
  
</ion-content>
